substitutions:
  project_ver_let: u


packages:
  kauf_rgbsw_base: !include ../kauf-rgbs.yaml


dashboard_import:
  package_import_url: $sub_import_url


esphome:
  name_add_mac_suffix: true


wifi:
  # add forced hash which isn't needed for dashboard import.
  # Allows saving wifi credentials across update.
  forced_hash: 2179908191


# embed the web server's js file for binary update files
web_server:
  local: true


# KAUF: Light preference format migration for binary update files
# migrate_from_old_hash enables conversion from pre-2025.7.0 struct layout
light:
  - id: !extend small_light
    migrate_from_old_hash: true

  - id: !extend small_light_off
    migrate_from_old_hash: true

  - id: !extend small_light_on
    migrate_from_old_hash: true

  - id: !extend big_light
    migrate_from_old_hash: true

  - id: !extend big_light_off
    migrate_from_old_hash: true

  - id: !extend big_light_on
    migrate_from_old_hash: true
